.mandal {
  margin-left: 200px;
  margin-top: 40vh;
  position: absolute;
}

.outerpiece {
  position: absolute;
  animation: myanimation 10s infinite;
  animation-timing-function: linear;
}

@keyframes myanimation {
  0% {
    transform: scale(1) rotate(0deg);
    animation-timing-function: linear;
  }
  50% {
    transform: scale(1.5) rotate(180deg);
    animation-timing-function: linear;
  }
  100% {
    transform: scale(1) rotate(360deg);
    animation-timing-function: linear;
  }
}

.name {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}
