#responsive-navbar-nav a{
    text-decoration: none;
    color: #fff;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

#responsive-navbar-nav div{
    margin-left: auto;
}

.App{
    height:100vh;
    padding: 30px;
    overflow: hidden;
}

.navbar-brand{
    font-weight: 600;
    font-size: 1.6rem!important;
}

.profile{
    height: 80vh;
    margin-left: 30vw;
    overflow: hidden;
    position: absolute;
}

.home{
    display: inline;
    overflow: hidden;
}

.name
{
    color: #fff;
    position: absolute;
    margin-left: 20vw;
    margin-top: 40vh;
}

.content
{
    height: 100%;
}