#responsive-navbar-nav a{
    text-decoration: none;
    color: #fff;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

#responsive-navbar-nav div{
    margin-left: auto;
}

.App{
    height:100vh;
    padding: 30px;
    overflow: hidden;
}

.navbar-brand{
    font-weight: 600;
    font-size: 1.6rem!important;
}

.profile{
    height: 80vh;
    margin-left: 30vw;
    overflow: hidden;
    position: absolute;
    opacity: 0.8;
}

.home{
    display: inline;
    overflow: hidden;
}

.name
{
    color: #fff;
    position: absolute;
    margin-left: 20vw;
    margin-top: 40vh;
}

.content
{
    height: 100%;
}

.mandal
{

    margin-left: -200px;
    margin-top: 50vh;
    position: absolute;
    animation: myanimation 10s infinite ;
    animation-timing-function: linear;
}

@-webkit-keyframes myanimation {
    100% { -webkit-transform: rotate(360deg); animation-timing-function: linear; }
}

@keyframes myanimation {
    100% { transform: rotate(360deg); animation-timing-function: linear; }
}