#responsive-navbar-nav a {
  text-decoration: none;
  color: rgb(129, 119, 119);
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

#responsive-navbar-nav .active {
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid #fff;
}

#responsive-navbar-nav div {
  margin-left: auto;
}

.App {
  height: 100vh;
  padding: 30px;
  overflow: hidden;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.6rem !important;
}

.profile {
  height: 80vh;
  margin-left: 30vw;
  overflow: hidden;
  position: absolute;
  opacity: 0.8;
}

.home {
  display: inline;
  overflow: hidden;
}

.name {
  color: #fff;
  position: absolute;
  margin-left: 50vw;
  margin-top: 10vh;
}
.name h1 {
  font-size: 4rem;
}

.name h1 span {
  color: #ff1f50;
}

.content {
  height: 100%;
}
